section.contacts
  .container
    .content
      h2 Мы ждем вас
      p Оставьте заявку или позвоните нам, и наш менеджер назначит вам экскурсию.
    ul.contact-list
      li
        a(href="tel:+73412601597") +7 (3412) 60-15-97
      li
        a(href="#") ул. Лихвинцева, 46  
      li
        a(href="mailto:info@rivpark.ru") info@rivpark.ru