footer.footer
  .container.footer-container
    .left-col
      p © 2017. Французские кварталы «Ривьера Парк»
      p Застройщик: ООО «Регион-инвест». Копирование информации с сайта допускается только со ссылкой на источник. Любая информация представленная на данном сайте, носи исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положением статьи 437 ГК РФ.
      a(href="#").politic Политика в отношении обработки персональных данных 
    .right-col
      p Разработка сайта
      a(href="http://landau-inc.ru" targrt="_balnk")
        svg.footer-logo
          use(xlink:href="img/icons/symbol/sprite.svg#logo-svg")