extends ../template

block variables
  - var title = 'Тестовое'

block content
  .wrapper
    include ../common/hero.pug
    include ../common/contacts.pug
    include ../common/map.pug
    include ../common/footer.pug
    