.footer-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;

  @include phones {
    padding-top: 35px;
    flex-direction: column;
  }
}

.left-col {
  width: 65%;

  p {
    font-size: 12px;
  }

  @include phones {
    width: 100%;
  }
}

.politic {
  color: black;
  &:hover {
    color: $red;
    transition: .4s;
  }
}

.right-col {
  width: 33%;
  text-align: right;
  position: relative;
  p {
    font-size: 12px;
  }
  @include phones {
    width: 100%;
  }
}

.footer-logo {
  position: absolute;
  top: -35px;
  right: 0;

  @include tablets {
    height: 40px;
    top: 17px;
    right: -20px;
  }
}